<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Unit">
            <file>tests/StartTest.php</file>
            <directory>tests/core</directory>
            <directory>tests/src</directory>
            <!-- <directory>tests/build</directory> -->
        </testsuite>
    </testsuites>
</phpunit>