{% import "macros/utils.twig" as utils %}

<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Menu</h3>
                    <ul class="nav nav-pills nav-stacked">
                        {# <li role="presentation" class="active"><a href="#">Accueil</a></li> #}
                        <li role="presentation"><a href="#">Accueil</a></li>
                        <li role="presentation"><a href="/posts">Projets</a></li>
                        {% if session.user %}
                            {% if session.user.role == "admin" %}
								<li class="page-scroll"><a href="/dashboard">Back office</a></li>
							{% endif %}
                            <li class="page-scroll"><a href="/profil">Profil</a></li>
							<li role="separator" class="divider"></li>
							<li class="page-scroll"><a href="/logout">Déconnexion</a></li>
                        {% else %}
                            <li class="page-scroll"><a href="/login">Connexion</a></li>
                            <li class="page-scroll"><a href="/profil/register">Inscription</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Réseaux sociaux</h3>
                    {{ utils.social_networks() }}
                </div>
                <div class="footer-col col-md-4">
                    <h3>Coordonnées</h3>
                    {{ utils.contact() }}
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; {{ cs_site_name }} 2022
                </div>
            </div>
        </div>
    </div>
</footer>