<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

		<!-- Bootstrap Core CSS -->
		<link href="/assets/css/custom-bootstrap.css" rel="stylesheet">

		<!-- Theme CSS -->
		<link href="/assets/css/freelancer.min.css" rel="stylesheet">
		{{ head }}

		<!-- Custom Fonts -->
		<link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

		<title>
			{% if cs_site_name %}{{ cs_site_name }}{% endif %}
            {% if title %}{% if cs_site_name %} - {% endif %}{{ title }}{% endif %}
		</title>
	</head>

	<body
		id="page-top" class="index">