.alert{
    margin-top: 3rem !important;
    font-size: 2rem;
}
.nav-pills>li.active{
    a, a:focus,a:hover {
        background-color: @theme-success;
    }
}
#imageSrc{
    position: absolute;
    top: -80px;
    width: 15rem;
    aspect-ratio: 1/1;
}
#about{
    font-size: 22px;
    h2{
        font-size: 5rem;
    }
    h3 {margin-top: 0;}
    a, a:focus,a:hover {
        color: @theme-primary;
    }
    #right-col{
        p{
            font-size: 22px;
            margin-bottom: 3rem;
        }
    }
    #contactDiv{
        width: fit-content;
        margin: auto;
        div{
            margin: 0 auto;
            dd{
                width: max-content;
            }
        }    
    }

    @media screen and (max-width: 768px) {
        .dl-horizontal{
            text-align: center;
        }
    }
}

.footer-col{
    .nav a{
        margin: auto;
        padding: 3px 0;
    }
    .dl-horizontal{
        width: fit-content;
        margin: auto;
        div{
            margin: 1.2rem auto;
            dd{
                width: max-content;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .footer-col{
        .dl-horizontal{
            text-align: center;
        }
    }
}


#addComment{
    border-radius: 20px;
    box-shadow: 0 0 8px 1px @theme-primary;
    margin-bottom: 3rem;
    padding: 0 3rem;
}
.not-connected{
    margin: 1rem 0;
}


#profilInfos{
    font-size: 2.2rem;
}

// MENU
#initiales{
    width: fit-content;
    height: fit-content;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.dropdown-menu {
    background-color: @theme-primary;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px @theme-primary;
    padding-bottom: 10px;
}

// TOOLS
#tools{
    max-width: 1080px;
    margin: 0 auto;
    font-size: 16px;
}

.menu{
    position: absolute;
    right: 0;
    margin: 0 auto 0 auto;
    background-color: #ddb91f;
    width: 70px;
    border-radius: 25px;
    transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#retour, #retour:hover{
    text-decoration: none;
    position: absolute;
    left: 0;
    margin: 0 auto 0 auto;
    background-color: #ddb91f;
    width: 70px;
    height: 70px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#oneTool, #oneTool:hover{
    text-decoration: none;
    position: absolute;
    right: 0;
    margin: 0 auto 0 auto;
    background-color: #ddb91f;
    width: 70px;
    height: 70px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu--closed{
    height: 70px;
}

.menu--open{
    height: 300px;
}

.button{
    transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;;
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 2em;
    height: 2em;
    left: 27%;
    top: 20px;
    opacity: 1;
}

.button:hover {
    opacity: 0.6;
}

.button span{
    width: 100%;
    height: 4px;
    background-color: #161616;
    border-radius: 20%;
}

.menu--open .button{
    transform-origin: center;
    transform: rotate(90deg);
}

.tools{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 60%;
    justify-content: space-around;
    transition: 0.3s margin ease-in-out;
}


.tools .icon{
    transition: 0.2s transform ease-in-out;
}

.tools .icon:hover{
    transform: scale(0.8);
}

.tools--hidden{
    margin-top: 400px;
    z-index: -100;
}

.tools--visible{
    margin-top: 40%;
    z-index: 100;
}

// transition for redirection
.page-transition {
    position: fixed;
    z-index: 90;
    top: 0;
    left: 100%;
    background-color: @theme-success;
    width: 100%;
    height: 100%;
    transition: transform 1.6s cubic-bezier(.34, .01, 0, 1);
    overflow: hidden;

    &--in {
        transform: translateX(-100%);
    }

    &--out {
        transition-duration: 0.5s;
        transform: translateX(-200%);
    }

    &__overlay {
        position: relative;
        top: 0;
        left: 0;
        transform: translateX(50%);
        height: 100%;
        width: 200%;
        background-color: @theme-primary;
        animation: overlayAnimation 1.5s cubic-bezier(.5, .01, 0.5, 0.7) 1.6s infinite;
    }
}

@keyframes overlayAnimation {
    0% {
        transform: translateX(50%);
    }

    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-100%);
    }
}



// Transition page
body{
    background-color: @theme-primary;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -ms-animation-duration: 500ms;
    -o-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    main{
        background-color: white;
    }
}

@-webkit-keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}

@-o-keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}

@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}
