.alert{
    margin-top: 3rem !important;
    font-size: 2rem;
}
.nav-pills>li.active{
    a, a:focus,a:hover {
        background-color: @theme-success;
    }
}
#about{
    a, a:focus,a:hover {
        color: @theme-primary;
    }
    #contactDiv{
        width: fit-content;
        margin: auto;
    }
}

#addComment{
    border-radius: 20px;
    box-shadow: 0 0 8px 1px @theme-primary;
    margin-bottom: 3rem;
}