{% extends "/base.twig" %}

{% block title %}Dashboard{% endblock %}

{% block main %}
<section>
	<div class="container">
	<p><a href="index.php?action=postAdmin" class="btn btn-success" role="button">Liste des projets</a></p>
	</div>
</section>
{% endblock %}
