{% extends "/base.twig" %}

{% block title %}Dashboard{% endblock %}

{% block main %}

	<p><a href="index.php?action=addPost" class="btn btn-success" role="button">Ajouter un projet</a></p>

	{# <a href="index.php?action=updateComment&id={{ comment.identifier }}">modifier</a> #}
{% endblock %}
