{% extends "/base.twig" %}

{% block title %}Dashboard{% endblock %}

{% block main %}

<section id="portfolio">
	<div class="container">
		<div class="row text-center">

			<div class="col-sm-4 portfolio-item">
				<a href="/admin/users" class="portfolio-link" >
					<div class="caption">
						<div class="caption-content">
							<i class="fa fa-wrench fa-3x"></i>
						</div>
					</div>
					<img src="/assets/img/dashboard/utilisateurs.png" class="img-responsive" alt="">
				</a>
			</div>

			<div class="col-sm-4 portfolio-item">
				<a href="/admin/posts" class="portfolio-link" >
					<div class="caption">
						<div class="caption-content">
							<i class="fa fa-wrench fa-3x"></i>
						</div>
					</div>
					<img src="/assets/img/dashboard/projets.png" class="img-responsive" alt="">
				</a>
			</div>

			<div class="col-sm-4 portfolio-item">
				<a href="/admin/comments" class="portfolio-link" >
					<div class="caption">
						<div class="caption-content">
							<i class="fa fa-wrench fa-3x"></i>
						</div>
					</div>
					<img src="/assets/img/dashboard/commentaires.png" class="img-responsive" alt="">
				</a>
			</div>

		</div>
		<div class="row text-center">

			<div class="col-sm-4 portfolio-item">
				<a href="/admin/configs" class="portfolio-link" >
					<div class="caption">
						<div class="caption-content">
							<i class="fa fa-wrench fa-3x"></i>
						</div>
					</div>
					<img src="/assets/img/dashboard/configuration.png" class="img-responsive" alt="">
				</a>
			</div>
			
			<div class="col-sm-4 portfolio-item">
			</div>
			<div class="col-sm-4 portfolio-item">
				<a href="#" class="portfolio-link" >
					<div class="caption">
						<div class="caption-content">
							<i class="fa fa-eye fa-3x"></i>
						</div>
					</div>
					<img src="/assets/img/dashboard/documentation.png" class="img-responsive" alt="">
				</a>
			</div>
		</div>
	</div>
    </section>
{% endblock %}
