{# input #}
{% macro input() %}
<input type="hidden" name="csrf_token" value="{{ getCsrf() }}" />
{% endmacro %}

{# buttton #}
{% macro button_delete(path) %}
<a data-target={{ path }} data-csrf={{ getCsrf() }} class="btn btn-danger ajax-delete"><i class="fa fa-trash"></i> Supprimer</a>
{% endmacro %}