{% extends "/base.twig" %}
{% import "macros/utils.twig" as utils %}

{% block title %}Configuration{% endblock %}
{% block subtitle %}
	<a id="retour" href="/dashboard" ><i class="fa fa-cogs" aria-hidden="true"></i></a>
{% endblock %}

{% block main %}
    <section id="dashbord">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="col-sm-3 dashbord-item">
                        <a href="/admin/configs/list/cs" class="dashbord-link" >
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-wrench fa-3x"></i>
                                </div>
                            </div>
                            <img src="/assets/img/dashboard/configuration.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-3 dashbord-item">
                        <a href="/admin/configs/list/mb" class="dashbord-link" >
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-wrench fa-3x"></i>
                                </div>
                            </div>
                            <img src="/assets/img/dashboard/configuration.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-3 dashbord-item">
                        <a href="/admin/configs/list/rs" class="dashbord-link" >
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-wrench fa-3x"></i>
                                </div>
                            </div>
                            <img src="/assets/img/dashboard/configuration.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-3 dashbord-item">
                        <a href="/admin/configs/list/af" class="dashbord-link" >
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-wrench fa-3x"></i>
                                </div>
                            </div>
                            <img src="/assets/img/dashboard/configuration.png" class="img-responsive" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}