{% import "macros/utils.twig" as utils %}
		{% include 'partials/_head.twig' with {
				'cs_site_name' : cs_site_name,
				'title' : block('title'),
			} 
		%}
		{% block nav %}{% include ('partials/_nav.twig') %}{% endblock %}

		<header>			
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="intro-text">
							<h1 class="name">{{ block('title') }}</h1>
							<hr class="star-light">
							{% block imageHeader %}{% endblock %}
							<span class="skills">{% block subtitle %}{% endblock %}</span>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main>
			{% if flashs|length > 0 %}
			<div id="flash-container">
				{% for flash in flashs %}
				{{ utils.flash(flash) }}
				{% endfor %}
			</div>
			{% endif %}
		{% block main %}{% endblock %}
		</main>

		{% block footer %}{% include ('partials/_footer.twig') %}{% endblock %}
		{% include ('partials/_scripts.twig') %}
		{% block script %}{% endblock %}
		{% include ('partials/_foot.twig') %}

