<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="style.css" rel="stylesheet"/>
		<title>
			Blog de Jérémy{% if block('title') %} - {% block title %}{% endblock %}{% endif %}
		</title>
	</head>

	<body>
		<main class="container">
			<h1 class="text-center">{{ block('title') }}</h1>
			{% block main %}{% endblock %}
		</main>
	</body>
</html>
